.createToDo {
  margin: auto;
  padding: 14px 14px 56px 16px;
}

.createToDo .createToDoHeader {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 24px 0;
  padding-bottom: 8px;
  border-bottom: 2px solid lightgray;
}

.createToDo .label {
  display: block;
}

.createToDo .textInput {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 8px;
  border: 2px solid gray;
  width: 85%;
  height: 30px;
}

.createToDo .datePickerContainer {
  width: 100%;
  margin: auto auto 20px auto;
}

.createToDo .datePicker {
  margin-top: 5px;
  padding: 4px;
  border: 2px solid gray;
  border-radius: 3px;
}

.createToDo .button {
  float: right;
  color: white;
  border: 0px;
  padding: 10px 15px;
  background-color: rgb(3, 151, 250);
  border-radius: 3px;
}
