.createToDo {
  margin: auto;
  padding: 14px 14px 56px 16px;
}

.createToDo .createToDoHeader {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 24px 0;
  padding-bottom: 8px;
  border-bottom: 2px solid lightgray;
}

.createToDo .xIcon {
  float: right;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.createToDo .label {
  display: block;
}

.createToDo .textInput {
  font-family: 'Source Sans Pro';
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid rgba(128, 128, 128, .3);
  border-radius: 10px;
  width: 85%;
  height: 30px;
}

.createToDo .datePickerContainer {
  width: 100%;
  margin: auto auto 20px auto;
}

.createToDo .datePicker {
  font-family: 'Source Sans Pro';
  margin-top: 5px;
  padding: 4px 0 4px 10px;
  border: 1px solid rgba(128, 128, 128, .3);
  border-radius: 10px;
}

.createToDo .button {
  float: right;
  font-family: 'Source Sans Pro';
  color: white;
  cursor: pointer;
  border: 0px;
  padding: 10px 15px;
  background-color: rgb(3, 151, 250);
  border-radius: 3px;
}
