.toDoContainer {
  width: 45%;
  height: 100%;
  margin: auto;
  padding: 0px 40px 40px 40px;
  border-radius: 1px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
