.navBar {
  width: 100%;
  height: 100%;
  margin: auto auto 30px auto;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBar .basiclyHeader {
  border-bottom: 2px solid rgb(223, 223, 223);
  padding-bottom: 14px;
}

.navBar .basiclyTitle {
  width: 100%;
  font-family: 'Great Vibes';
  font-size: 50px;
  color: rgb(41, 73, 83);
  margin: auto;
  text-align: center;
}

.navBar .basiclySubtitle {
  width: 100%;
  font-size: 16px;
  color: rgb(41, 73, 83);
  margin: auto;
  text-align: center;
}
